@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

* {
    font-family: "Potta One", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #835889;
}

.screen {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25%;
    border: 1px solid gray;
    padding: 0.5rem;
    font-size: 4rem;
    background-color: #A0E3B2;
}

.calculator-container,
.button-rows,
.column-container {
    display: flex;
    flex-direction: column;
}

.calculator-container {
    max-width: 600px;
    min-height: 70vh;
    padding: .5rem;
    flex: 1;
    border: 8px solid #2D1E2F;
    border-radius: .5rem;
}

.button-container {
    display: flex;
    flex: 1;
}

.button-rows {
    flex: 3;
}

.row {
    display: flex;
    flex: 1;
}

.column-container {
    flex: 1;
}

button {
    flex: 1;
    border: none;
    background-color: #A0E3B2;
    font-size: 2rem;
    font-weight: 700;
    color: #04151F;
}

.wider {
    flex: 2;
}

.taller {
    min-height: 40%;
}

.op {
    background-color: #2D1E2F;
    color: #F5E6CC;
}

button:active {
    background-color: #2A8D45;
}

button.op:active {
    background-color: #B38FB7;
}